@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #1E1B18;
    --secondary-color: #9F2042;
    --text-color: #F8E5EE;

}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color)
}

.highlight {
    background-color: yellow;
    color: black;
}

.error {
    background-color: lightcoral;
    border: red;
}

#main-heading {
    text-align: center;
    font-size: 2.2rem;
    text-shadow: #9F2042;
    text-shadow: 3px 3px var(--secondary-color);
    margin: 0.9rem auto 1rem auto;


}

#para {
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-top: 2rem;
    font-size: 0.8rem;

}

#main-header {
    width: 250px;
    display: block;
    margin: auto;
    padding: 2rem;
}

#typed-value {
    padding: 0.5rem;
    width: 60%;
    position: absolute;
    left: 10%;
    height:100%;  
    border: #9F2042 0.2rem solid;
    color: var(--primary-color);
}

#start {
    background-color: var(--secondary-color);
    color: var(--text-color);
    position: absolute;
    left: 73%;
    width: 20%;
    height: 100%;
    border-radius: 0.5rem;
    border: var(--secondary-color) solid 0.3rem;
    font-size: 1.1rem;
    font-weight: bold;
}

#git-icon {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

#quote
{
    margin:0.5rem auto 0.5rem auto;
    padding:0.1rem;
    font-size: 1rem;
    text-align: center;
    max-width: 80%;
}

#message
{
    margin: 0.5rem auto 1rem auto;
    font-size: 1.1rem;
    text-align: center;
    max-width: 80%;
}

#input-container
{
    max-width: 80%;
    margin:1.5rem auto 1.5rem auto;
    position: relative; 
    height:6.7vh;  
}