@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color: #1E1B18;
    --secondary-color: #9F2042;
    --text-color:#F8E5EE;

}

*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

body{
    background-color: var(--primary-color);
    color: var(--text-color)
}

#heading-container{
    margin: 0.9rem auto 1rem auto;
}
#main-heading
{
    text-align: center;
    font-size: 2.2rem;
    text-shadow: #9F2042;
    text-shadow: 3px 3px var(--secondary-color);

}

#para
{
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-top: 2rem;
    font-size: 0.8rem;

}

/* #header-container
{
    padding: 2rem;
    align-content: center;
} */

#main-header
{
    width:250px;
    display: block;
    margin: auto;
    padding:2rem;
}

#input-container
{
    padding: 0.7rem;
    width: 60%;
    position: relative;
    left: 10%;
        top:50%;

    border: #9F2042 0.2rem solid;
    color: var(--secondary-color);
}

#start
{
   background-color: var(--secondary-color);
   color: var(--text-color);
   position: relative;
   left: 12%;
   width: 6.5rem;
   height: 2.5rem;
   border-radius: 0.5rem;
   border: var(--secondary-color) solid 0.3rem;
   font-size: 1.1rem;
   font-weight: bold;
}

#git-icon
{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

